.article {
  main {
    min-width: 700px;
    word-wrap: break-word;
    word-break: break-word;
  }

  .article__cover {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;

    .article__cover-item {
      position: relative;
    }

    .article__cover-image {
      /* 스크롤에 따라 높이가 변경됨*/
      min-height: 528.75px;
      background-size: cover;
      display: block;
    }

    .article__cover-inner {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      /* 스크롤에 따라 높이가 변경됨*/
      min-height: 528.75px;
      width: 100%;
      background-color: #000;
      opacity: .3;
    }

    .article__cover-title {
      /* 스크롤에 따라 opacity 변경됨*/
    }

    .article__cover-info {
      /* 스크롤에 따라 opacity 변경됨*/
    }
  }

  .article__body {
    margin-top: 450px;
    background-color: #fff;
    position: relative;
  }

  .article__text {
    padding-bottom: 64px;
    word-wrap: break-word;
    background: #fff;
    overflow: hidden;
    padding-top: 40px;
    position: relative;
    z-index: 10;

    h4 {
      font-weight: normal;
      padding-top: 30px;
      width: 700px;
      margin: 0 auto;
    }

    .article__sentence {
      font-size: 11pt;
      letter-spacing: .8px;
      opacity: 0.7;
      line-height: 22pt
    }
  }
}