.article {
  main {
    min-width: 700px;
    word-wrap: break-word;
    word-break: break-word;
  }
  .article__cover {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;

    .article__cover-item {
      position: relative;
    }
    .article__cover-image {
      /* 스크롤에 따라 높이가 변경됨*/
      min-height: 528.75px;
      background-size: cover;
    }
    .article__image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-position: 50%;
      background-size: cover;
      height: 450px;
    }
    .article__cover-inner {
      position: absolute;
      left: 0;
      top: 0;
      /* 스크롤에 따라 높이가 변경됨*/
      min-height: 528.75px;
      width: 100%;
      background-color: #000;
      opacity: .3;
    }
    .article__cover-title {
      /* 스크롤에 따라 opacity 변경됨*/
      padding-top: 0;
      opacity: 1;
      text-align: center;
      width: 700px;

      h1 {
        position: relative;
        z-index: 9999;
        letter-spacing: -.01em;
        margin-left: 0;
        font-size: 34pt;
        word-wrap: break-word;
        line-height: 40pt;
        color: #fff;
      }
    }
    .article__cover-info {
      /* 스크롤에 따라 opacity 변경됨*/
      position: absolute;
      bottom: 50px;
      width: 700px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      z-index: 9999;
    }
    .article__by {
      margin-right: 2px;
      display: inline-block;
      font-family: Georgia, sans-serif;
      font-size: 12px;
      font-style: italic;
      height: 14px;
      opacity: .5;
      width: 15px;
    }
    .article__author {
      opacity: .7;
      color: #fff;
      letter-spacing: -.05em;
    }
    .article__dot {
      margin: 8px 7px 0;
      opacity: .5;
      background-color: #fff;
      display: inline-block;
      height: 2px;
      width: 2px;
      vertical-align: top;
    }
    .article__date {
      letter-spacing: -.05em;
      opacity: .5;
    }
  }
  .article__body {
    margin-top: 450px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
  .article__text {
    padding-bottom: 64px;
    word-wrap: break-word;
    background: #fff;
    overflow: hidden;
    padding-top: 40px;
    position: relative;
    z-index: 10;

    h4 {
      font-weight: normal;
      padding-top: 30px;
      width: 700px;
      margin: 0 auto;
    }
    .article__sentence {
      font-size: 11pt;
      letter-spacing: .8px;
      opacity: 0.7;
      line-height: 22pt
    }
  }
  .article__info-keyword {
    margin: 0px auto;
    overflow: hidden;
    padding: 30px 0 30px;
    width: 700px;

    li {
      border: 1px solid #ddd;
      border-radius: 28px;
      color: #959595;
      display: inline-block;
      font-size: 12px;
      height: 26px;
      letter-spacing: -.5px;
      line-height: 26px;
      min-width: 14px;
      padding: 0 10px;
      text-align: center;
    }
  }
  .article__source {
    background-color: #fbfbfb;
    padding-top: 22px;
    &-inner {
      margin: 0 auto;
      padding: 31px 0 120px;
      position: relative;
      width: 700px;
    }
    &-name {
      display: block;
      font-size: 28px;
      font-weight: 300;
      color: #333;
    }
    &-description {
      display: block;
      font-size: 13px;
      color: #666;
      margin: 21px 2px 1px 2px;
    }
    &-url {
      display: block;
      color: #959595;
      line-height: 22px;
      margin-top: 34px;
    }
  }
  .article__footer {
  }
  .article__footer-banner {
  }
  .article__footer-controller {
    display: block;
    background: #fff;
    border-top: 1px solid #eee;
    bottom: 0;
    height: 59px;
    position: fixed;
    width: 100%;
    z-index: 100;

    strong {
      display: inline-block;
      font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
      font-size: 15px;
      font-weight: normal;
      line-height: 60px;
      max-width: 350px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .article__prev {
    float: left;
    height: 100%;
    padding: 0 30px;

    span {
     @include article-next-prev;
      float: left;
    }
  }
  .article__next {
    float: right;
    height: 100%;
    padding: 0 30px;

    span {
      @include article-next-prev;
      float: right;
    }
  }
}