.daily {
  .daily__wrap {
    width: 960px;
    margin: 0 auto;
  }
  .daily__title {
    color: #000;
    font-family: Resavaka;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
  }
  .daily__description {
    display: block;
    margin-top: 10px;
    color: #959595;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .daily__week {
    margin-top: 32px;

    ul {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #eee;

      li {
        padding-right: 62px;

        a {
          /* 선택된 경우 after 요소로 하이라이트 */
          position: relative;
          display: inline-block;
          padding: 0 14px 12px;
          color: #959595;
          font-size: 14px;
          line-height: 22px;
          text-decoration: none;
        }
      }
    }
  }
  .daily__sort {
    display: flex;
    padding: 30px 25px 20px;

    .daily__filter {
      display: flex;
      margin-left: auto;

      /* Before:: 클래스로 하이라이트 요소 표시 */
      a {
        display: inline-flex;
        align-items: center;
        padding-left: 12px;
        color: #959595;
        font-size: 13px;
        line-height: 20px;
        vertical-align: top;
        margin-left: 8px;
      }
    }
  }
  .daily__news {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .daily__item {
      width: calc((100% - 20px) / 2);
      margin-bottom: 20px;

      &:nth-child(2n) {
        margin-left: 20px;
      }
    }

    .daily__link {
      display: flex;
      width: 100%;
      min-height: 120px;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      padding: 19px;
      border: 1px solid #eee;
      text-decoration: none;
    }

    .daily__article-text {}
    .daily__article-date {}
    .daily__article-title {
      display: flex;
      align-items: center;
      padding-right: 11px;
      width: 330px;

      strong {
        @include title-ellipsis(30);
        max-width: 92%;
        max-height: 52px;
        color: #111;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-overflow: ellipsis;
        //word-break: break-all;
      }

      /* new 아이콘 추가 */
      span {}
    }
    .daily__article-info {
      display: flex;
      width: 330px;
      align-items: center;
      margin-top: 9px;
      color: #959595;
      font-size: 12px;
      line-height: 20px;
    }
    .daily__article-by {
      font-family: Georgia, sans-serif;
      font-style: italic;
    }

    .daily__article-image {
      width: 80px;
      height: 80px;
      aspect-ratio: auto 80 / 80;

      img {
        width: 80px;
        height: 80px;
        aspect-ratio: auto 80 / 80;
      }
    }
  }
  .daily__all {
    display: flex;
    width: 180px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    padding-left: 23px;
    border: 1px solid #bbb;
    border-radius: 30px;
    margin: 40px auto 0;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
  }
}