header {
  .header__top {
    height: 60px;
  }
  .header__navigation {
    position: static;
    float: left;
    height: 40px;
    width: 100%;
  }
  .header__inner {
    margin: 30px 30px 0;

    .header__inner-left {
      float: left;

      button {
        border-radius: 0;
        height: 20px;
        margin-right: 14px;
        width: 27px;
        background: url(//t1.daumcdn.net/brunch/static/img/help/pc/ico_view_cover.v4_230130.png) no-repeat 0 0;
      }

      h1 {
        display: inline-block;

        .header__logo {
          width: 120px;
          background: url(//t1.daumcdn.net/brunch9/static/images/pc/logo_brunch_v1_221221.png) no-repeat 0 -80px;
          display: block;
          height: 22px;
          margin-top: -1px;
        }
      }
    }

    .header__inner-right {
      float: right;

      button {
        margin: 0 0 0 16px;
        display: inline-block;
        background: url(//t1.daumcdn.net/brunch/static/img/help/pc/ico_view_cover.v4_230130.png) no-repeat -30px 0;
        height: 22px;
        width: 22px;
      }

      a {
        display: inline-block;
        width: 64px;
        height: 28px;
        border: 1px solid #959595;
        border-radius: 16px;
        margin-top: -5px;
        color: #666;
        font-family: "Noto Sans Light", sans-serif;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
  .header__logo {}
  .header__intro {
    width: 960px;
    margin: 0 auto;
  }
  .header__title {
    margin-top: 0;
    color: #1a1a1a;
    font-family: $font-header;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -.05em;
    text-align: left;

    span {
      width: 40px;
      height: 40px;
      margin: 1px 6px 0 5px;
      overflow: hidden;
      background: url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v9_230901.png) no-repeat -80px -230px;
      text-indent: -9999px;
      display: inline-block;
      line-height: 0;
      vertical-align: top;
    };
  }
  .header__description {
    padding-bottom: 16px;
    margin-top: -3px;
    color: #cacaca;
    font-family: $font-header;
    font-size: 32px;
    letter-spacing: -.05em;
    line-height: 46px;
  }
}

.detail-header {
  .detail-header__top {
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: black;
  }
  .detail-header__inner {
    margin: 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail-header__inner-left {
      //float: left;

      button {
        height: 22px;
        width: 27px;
        margin-right: 14px;
        background: url(//t1.daumcdn.net/brunch/static/img/help/pc/ico_view_cover.v4_230130.png) no-repeat 0 0;
        background-position: -30px -58px;
        margin-top: -2px;
      }

      h1 {
        display: inline-block;
        .detail-header__logo {
          width: 120px;
          background: url(//t1.daumcdn.net/brunch9/static/images/pc/logo_brunch_v1_221221.png) no-repeat -120px -80px;
          display: block;
          height: 22px;
          margin-top: -1px;
        }
      }
    }

    .detail-header__inner-right {
      //float: right;
      margin-right: -8px;
      margin-top: -5px;

      display: flex;

      button {
        display: inline-block;
        height: 20px;
        margin-left: 22px;
        margin-top: 5px;
        transition: transform .2s;
        width: 20px;
        background: url(//t1.daumcdn.net/brunch/static/img/help/pc/ico_view_cover.v4_230130.png) no-repeat -180px 0;
      }

      .detail-header__button-wrap {
        font-family: "SF Pro Light", sans-serif !important;
        font-size: 14px;
        padding-top: 0;
        position: absolute;
        right: 63px;
        z-index: 10011;

        display: flex;

        a {
          margin-left: 18px;
          height: 20px;
          padding: 5px 0 5px 5px;
        }

        .detail-header__donation {
          span {
            @include detail-header-icon;
            background-image: url(https://t1.daumcdn.net/brunch9/static/imgs/icons/white_donation.svg);
          }
        }
        .detail-header__like {
          span {
            @include detail-header-icon;
            background: url(//t1.daumcdn.net/brunch/static/img/help/pc/ico_view_cover.v4_230130.png) no-repeat -60px -90px;
          }

        }
        .detail-header__comment {
          span {
            @include detail-header-icon;
            background-image: url(https://t1.daumcdn.net/brunch9/static/imgs/icons/white_donation.svg);
          }

        }
        .detail-header__share {
          span {
            @include detail-header-icon;
            background-image: url(https://t1.daumcdn.net/brunch9/static/imgs/icons/white_donation.svg);
          }

        }
      }
    }
  }
  .detail-header {}
  .detail-header__intro {
    width: 960px;
    margin: 0 auto;
  }
  .detail-header__title {
    margin-top: 0;
    color: #1a1a1a;
    font-family: $font-header;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -.05em;
    text-align: left;

    span {
      width: 40px;
      height: 40px;
      margin: 1px 6px 0 5px;
      overflow: hidden;
      background: url(//t1.daumcdn.net/brunch9/static/images/pc/ico_brunch_v9_230901.png) no-repeat -80px -230px;
      text-indent: -9999px;
      display: inline-block;
      line-height: 0;
      vertical-align: top;
    };
  }
  .detail-header__description {
    padding-bottom: 16px;
    margin-top: -3px;
    color: #cacaca;
    font-family: $font-header;
    font-size: 32px;
    letter-spacing: -.05em;
    line-height: 46px;
  }
}