.keyword {
  .keyword__title {
    width: 266px;
    height: 13px;
    margin: 152px auto 0;
    @include text-background;
    background-position: -101px -300px;
  }

  .keyword__description {
    width: 960px;
    margin: 0 auto;

    span {
      width: 149px;
      height: 11px;
      margin: 17px auto 0;
      @include text-background;
      background-position: -175px 0;
      background-size: 380px 640px;
    }
  }

  .keyword__list-wrap {
    width: 100%;
    overflow-x: auto;

    .keyword__list {
      display: grid;
      grid-template-columns: repeat(8, 121px);
      grid-template-rows: repeat(3, 121px);
      height: 363px;
      width: 960px;
      margin: 46px auto 0;
    }

    .keyword__item {
      position: relative;
      text-align: center;
      border: 1px solid #eee;
      font-size: 14px;
      line-height: 18px;

      span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}