.recommend {
  position: relative;

  .recommend__title {
    color: #000;
    font-family: Resavaka;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
    height: 13px;
    margin: 152px auto 0;
  }
  .recommend__description {
    display: block;
    height: 11px;
    margin: 17px 0 47px auto;
    //margin-top: 10px;
    color: #959595;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  .recommend__carousel-wrap {
    overflow: visible;
    width: 960px;
    position: relative;
    margin: 0 auto;
  }
  .recommend__carousel {
    width: 7800px;
    transform: translateX(0px);
    transition: -webkit-transform 0.5s ease 0s;
    position: relative;
    overflow: hidden;
    padding-bottom: 180px;

    li {
      display: inline-block;
      overflow: hidden;
      width: 240px;
      padding: 0 10px;
      font-family: Noto Sans Light, sans-serif;
      vertical-align: top;
      float: left;

      a {
        display: block;

        .recommend__image {
          overflow: hidden;
          max-height: 320px;
          margin-bottom: 22px;

          img {
            width: 240px;
          }
        }

        .recommend__subject {
          display: inline;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -.025em;
          word-break: break-all;
          word-wrap: break-word;
        }

        .recommend__content {
          display: block;
          padding-top: 10px;
          color: #959595;
          font-family: Noto Sans Light, sans-serif;
          font-size: 12px;
          letter-spacing: -.025em;
          line-height: 20px;
          text-align: justify;
          word-break: break-all;
        }

        .recommend__source {
          padding-top: 22px;
          color: #959595;
          display: block;
          overflow: hidden;
          margin: 0 auto;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;

          .recommend__by {
            margin-top: 3px;
            opacity: 1;
            color: #bfbfbf;
            font-family: Georgia, sans-serif;
            font-style: italic;
          }
        }
      }
    }
  }
  .recommend__button {
    .recommend__prev {
      position: absolute;
      text-align: center;
      width: 100px;
      height: 100px;
      top: 50%;
      left: 30px;
      margin-top: -77px;
      line-height: 50px;
      border-radius: 50%;
      background-color: rgba(221, 221, 221, 0.2);
      opacity: 0.8;
      z-index: 9999;

      span {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          position: absolute;
          width: 60%;
          border-bottom: 2px solid #959595;
          border-radius: 2px;
          left: 20%;
          bottom: calc(50% - 1px);
        }

        &::after {
          content: '';
          position: absolute;
          width: 32.5%;
          height: 32.5%;
          border-bottom: 2px solid #959595;
          border-left: 2px solid #959595;
          border-radius: 2px;
          left: calc(20% + 5px);
          top: 50%;
          transform: translate(0, -50%) rotate(45deg);
          opacity: 0.8;
        }
      }
    }
    .recommend__next {
      position: absolute;
      text-align: center;
      width: 100px;
      height: 100px;
      top: 50%;
      right: 30px;
      margin-top: -77px;
      line-height: 50px;
      border-radius: 50%;
      background-color: rgba(221, 221, 221, 0.2);
      opacity: 0.6;
      z-index: 9999;

      span {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          position: absolute;
          width: 60%;
          border-bottom: 2px solid #959595;
          border-radius: 2px;
          left: 20%;
          bottom: calc(50% - 1px);
        }

        &::after {
          content: '';
          position: absolute;
          width: 32.5%;
          height: 32.5%;
          border-top: 2px solid #959595;
          border-right: 2px solid #959595;
          border-radius: 2px;
          right: calc(20% + 5px);
          top: 50%;
          transform: translate(0, -50%) rotate(45deg);
          opacity: 0.8;
        }
      }
    }
  }
}