.trend {
  position: relative;
  z-index: 99;
  margin-top: 22px;

  .trend__carousel-wrap {
    overflow: visible;
    width: 960px;
    height: 520px;
    position: relative;
    margin: 0 auto;
  }

  .trend__carousel {
    width: 1000%;
    //transform: translateX(-480px);
    transition: -webkit-transform 0.3s ease 0s;
    //position: absolute;
    //top: 0;

    li {
      float: left;
    }
  }

  .trend__grid {
    overflow: hidden;
    width: 960px;
    display: flex;
    flex-wrap: wrap;

    .trend__title {
      display: block;
      padding-top: 12px;
      font-family: Nanum Myeongjo, sans-serif;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: -.025em;
      line-height: 36px;
      @include title-ellipsis
    }

    &--main {}

    &--three {
      .trend__article-wrap {
        width: 320px;
        height: 520px;
        position: relative;
        //float: left;
      }
    }

    &--four {
      .trend__article-wrap {
        width: 50%;
        height: 260px;
        position: relative;
        //float: left;
      }
    }

    &--vertical {
      display: block;

      .trend__article-wrap {
        position: relative;
        float: left;

        &--type1 {
          width: 520px;
          height: 520px;

          .trend__title {
            font-size: 32px;
            line-height: 40px;
            @include title-ellipsis(4.3em)
          }
        }

        &--type2, &--type3 {
          width: 440px;
          height: 260px;
        }
      }
    }

    &--horizontal {
      display: block;

      .trend__article-wrap {
        position: relative;
        float: left;

        &--type1 {
          width: 100%;
          height: 320px;

          .trend__title {
            font-size: 32px;
            line-height: 40px;
            @include title-ellipsis(4.3em)
          }
        }

        &--type2, &--type3, &--type4 {
          width: 320px;
          height: 200px;

          .trend__title {
            font-size: 22px;
            line-height: 28px;
            @include title-ellipsis(4.5em)
          }
        }
      }
    }

    .trend__article {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
        object-fit: cover;
        //border: 0;
      }

      .trend__info-wrap {
        //display: table;
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        //left: 50%;
        width: 100%;
        //margin-left: -50%;
        color: #fff;
        text-align: center;

        .trend__info {
          width: 200px;
          margin: 0 auto;
        }

        .trend__description {
          display: block;
          padding-top: 9px;
          font-family: Noto Sans Light, sans-serif;
          line-height: 20px;
          font-size: 12px;
          @include multi-ellipsis
        }

        .trend__source {
          width: 200px;
          padding-top: 30px;
          color: #fff;
          font-family: Noto Sans Light, sans-serif;
          font-size: 12px;
          opacity: .8;
          display: block;
          overflow: hidden;
          margin: 0 auto;
          text-overflow: ellipsis;
          white-space: nowrap;

          .trend__by {
            //background-position: -38px -130px;
            font-family: Georgia, sans-serif;
            font-style: italic;
            margin-right: 2px;
          }
        }
      }

      /* display: table과 연관되어 있는 것 같음, 중앙 정렬을 위해 */
      //.trend__align {
      //  display: inline-block;
      //  overflow: hidden;
      //  height: 100%;
      //  vertical-align: middle;
      //}
    }

    .trend__mask {
      position: absolute;
      inset: 0;
      background-color: #333;
      filter: alpha(opacity = 40);
      opacity: .4;
      transition: opacity .3s ease-in-out;
    }
  }
}
