.trend {
  position: relative;
  z-index: 99;
  margin-top: 22px;

  .trend__carousel-wrap {
    overflow: visible;
    width: 960px;
    height: 520px;
    position: relative;
    margin: 0 auto;
  }
  .trend__carousel {
    width: 1000%;
    //transform: translateX(-480px);
    transition: -webkit-transform 0.3s ease 0s;
    //position: absolute;
    //top: 0;

    li {
      float: left;
    }
  }
  .trend__grid {
    overflow: hidden;
    width: 960px;
    display: flex;
    flex-wrap: wrap;

    .trend__title {
      display: block;
      padding-top: 12px;
      font-family: Nanum Myeongjo, sans-serif;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: -.025em;
      line-height: 36px;
      @include title-ellipsis
    }
    &--main {}
    &--three {
      .trend__article-wrap {
        width: 320px;
        height: 520px;
        position: relative;
      }
    }
    &--four {
      .trend__article-wrap {
        width: 50%;
        height: 260px;
        position: relative;
        //float: left;
      }
    }
    &--vertical {
      display: block;

      .trend__article-wrap {
        position: relative;
        float: left;

        &--type1 {
          width: 520px;
          height: 520px;

          .trend__title {
            font-size: 32px;
            line-height: 40px;
            @include title-ellipsis(4.3em)
          }
        }

        &--type2, &--type3 {
          width: 440px;
          height: 260px;
        }
      }
    }
    &--horizontal {
      display: block;

      .trend__article-wrap {
        position: relative;
        float: left;

        &--type1 {
          width: 100%;
          height: 320px;

          .trend__title {
            font-size: 32px;
            line-height: 40px;
            @include title-ellipsis(4.3em)
          }
        }

        &--type2, &--type3, &--type4 {
          width: 320px;
          height: 200px;

          .trend__title {
            font-size: 22px;
            line-height: 28px;
            @include title-ellipsis(4.5em)
          }
        }
      }
    }
    .trend__article {
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        transition: transform .3s ease-in-out;
        object-fit: cover;
        //border: 0;
      }

      .trend__info-wrap {
        //display: table;
        display: flex;
        align-items: center;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        //left: 50%;
        width: 100%;
        //margin-left: -50%;
        color: #fff;
        text-align: center;

        .trend__info {
          width: 200px;
          margin: 0 auto;
        }

        .trend__description {
          display: block;
          padding-top: 9px;
          font-family: Noto Sans Light, sans-serif;
          line-height: 20px;
          font-size: 12px;
          @include multi-ellipsis
        }

        .trend__source {
          width: 200px;
          padding-top: 30px;
          color: #fff;
          font-family: Noto Sans Light, sans-serif;
          font-size: 12px;
          opacity: .8;
          display: block;
          overflow: hidden;
          margin: 0 auto;
          text-overflow: ellipsis;
          white-space: nowrap;

          .trend__by {
            font-family: Georgia, sans-serif;
            font-style: italic;
            margin-right: 2px;
          }
        }
      }
    }
    .trend__mask {
      position: absolute;
      inset: 0;
      background-color: #333;
      filter: alpha(opacity = 40);
      opacity: .4;
      transition: opacity .3s ease-in-out;
    }
  }
  .trend__button {
    .trend__prev {

    }
    .trend__next {
      position: absolute;
      text-align: center;
      width: 100px;
      height: 100px;
      top: 50%;
      right: 30px;
      margin-top: -77px;
      line-height: 50px;
      //border-radius: 50%;
      background-color: #eeeeee;
      opacity: 0.6;

      span {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          position: absolute;
          width: 60%;
          border-bottom: 2px solid #959595;
          border-radius: 2px;
          left: 20%;
          bottom: calc(50% - 1px);
        }

        &::after {
          content: '';
          position: absolute;
          width: 32.5%;
          height: 32.5%;
          border-top: 2px solid #959595;
          border-right: 2px solid #959595;
          border-radius: 2px;
          right: calc(20% + 5px);
          top: 50%;
          transform: translate(0, -50%) rotate(45deg);
          opacity: 0.8;
        }
      }
    }
  }
  .trend__pagination {
    width: 960px;
    margin: 22px auto 0;
    text-align: center;

    .trend__pagination-page {
      padding: 0 11px;
      display: inline-block;
    }

    .trend__pagination-number {
      display: inline-block;
      width: 13px;
      height: 9px;
      font-size: 9px;
      font-weight: 900;
      margin-top: 10px;
      opacity: 0.4;

      &--active {
      }
    }

  }
}
