@mixin footer-slogan {
  font-family: $font-quotation;
  font-style: italic;
}

@mixin text-background {
  display: block;
  overflow: hidden;
  background: url(//t1.daumcdn.net/brunch9/static/images/pc/txt_brunch_v6_221227.png) no-repeat;
  text-indent: -9999px;
}

@mixin multi-ellipsis($line:2, $type:ellipsis) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

@mixin title-ellipsis($height:4.5em) {
  display: block;
  height: $height;
  overflow: hidden;
}