/* font */
$font-default: "Noto Sans DemiLight", "Malgun Gothic", sans-serif;
$font-header: "Nanum Myeongjo", sans-serif;
$font-quotation: Georgia, Serif;

/* Size */
$wrapper-width: 960px;

/* Color */
$footer-bgc: #101010;